/**************************************************
 **************       Variables      **************
 **************************************************/
/*
yellow: #f5ab35
green: #2ecc71
red: #f22613
*/
.border-mixin {
  border-bottom: 2px #eee solid;
  height: 20px;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px #eeeeee solid;
}
.border-mixin:hover {
  border-bottom-color: #f22613;
}
