/**************************************************
 **************      Home page     **************
 **************************************************/
/* -- Importing variables -- */
/**************************************************
 **************       Variables      **************
 **************************************************/
/*
yellow: #f5ab35
green: #2ecc71
red: #f22613
*/
.border-mixin {
  border-bottom: 2px #eee solid;
  height: 20px;
  padding: 5px 0;
  cursor: pointer;
  border-bottom: 1px #eeeeee solid;
}
.border-mixin:hover {
  border-bottom-color: #f22613;
}
/**************************************************
 **************       View      **************
 **************************************************/
.r-view {
  /**************************************************
	 **************       Stops      **************
	 **************************************************/
  /**************************************************
	 **************       Schedule      **************
	 **************************************************/
}
.r-view h4 {
  margin: 0 0 10px;
}
.r-view .r-row {
  width: 100%;
  margin: 20px 0;
}
.r-view .r-row .r-col-50 {
  width: 48%;
  margin-right: 5px;
  float: left;
}
.r-view .r-main-heading {
  font-size: 4em;
  text-align: center;
  color: #f5ab35;
  margin-top: 0;
}
.r-view .r-stops {
  height: 300px;
}
.r-view .r-stops .r-map {
  height: 100%;
  border: 5px solid;
}
.r-view .r-stops .r-services {
  height: 100%;
}
.r-view .r-stops .r-services ul {
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  font-size: 12px;
  padding: 5px;
}
.r-view .r-stops .r-services ul li {
  border-bottom: 2px #eee solid;
  height: 20px;
  padding: 5px 0 0;
  cursor: pointer;
  border-bottom: 1px #eeeeee solid;
}
.r-view .r-stops .r-services ul li:hover {
  border-bottom-color: #f22613;
}
.r-view .r-stops .r-services ul li:hover span {
  color: #f22613;
}
.r-view .r-schedule ul {
  height: 300px;
  overflow-y: scroll;
}
.r-view .r-schedule ul li {
  padding: 10px 0 0 2px;
  height: 18px;
  font-size: 12px;
  border-bottom: 2px #eeeeee solid;
}
.r-view .r-schedule ul li:hover {
  border-bottom-color: #f5ab35;
}
.r-view .r-schedule ul li span {
  display: inline-block;
  height: 100%;
}
.r-view .r-schedule ul li.r-heading {
  font-weight: bold;
}
.r-view .r-schedule ul li .r-service {
  width: 10%;
}
.r-view .r-schedule ul li .r-destination {
  width: 70%;
}
.r-view .r-schedule ul li .r-scheduled {
  width: 10%;
}
.r-view .r-schedule ul li .remaining {
  width: 10%;
}
